  <div class="container">
    <h1>Shaka Sesh</h1>
    <p>Ridein' the wave of the future</p>


    <div class="welcomebox">
        <% if user_signed_in? %>
        <h2>Welcome <%= current_user.name %></h2>
        <% else %>
        <%= link_to 'Sign up brotato ', new_user_registration_path %>
        <% end %>
    </div>

<footer class="footer">
  <%= User.count %> Bros catching some tasty waves, a cool buzz....
</footer>
