<h1>Shaka Sesh</h1>
<p>Ridein' the wave of the future</p>

<% if user_signed_in? %>
<% else %>
<%= link_to 'Sign up brotato ', new_user_registration_path %>
<% end %>
<%= User.count %> Bros catching some tasty waves, a cool buzz....
