<h3>Shaka Sesh</h3>
<p>Ridein' the wave of the future</p>
<p><%= link_to 'Sign up brotato ', new_user_registration_path %></p>


<p><%= User.count %> Bros catching some tasty waves, a cool buzz....</p>
