  <div class="container" id="visitor">
    <h1>Shaka Sesh</h1>
    <p>Ridein' the wave of the future</p>


    <div>
        <% if user_signed_in? %>
        <h2>You have <%= current_user.mailbox.inbox(:unread => true).count(:id, :distinct => true) %> unread messages</h2>
        <% else %>
        <%= link_to 'Sign up brotato ', new_user_registration_path %>
        <% end %>
    </div>
  </div>

<div class="footer">
  <%= User.count %> Bros catching some tasty waves, a cool buzz....
</div>
