<h2><%= @user.name if @user.name %></h3>
<p><%= image_tag @user.avatar.url(:medium) %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Perfered Board: </p>

<h3>Spots</h3>
<li>
  spot:1
  spot:2
</li>

<
