<p id="avatarimg">
  <li><%= link_to(image_tag(current_user.avatar.url(:thumb)), current_user) %></li>

</p>
<h2><%= @user.name if @user.name %></h3>
<p>Email: <%= @user.email if @user.email %></p>
<p>Perfered Board: </p>



<div class="container">
  <div class="row">
    <h3>Users</h3>
  </div>
</div>

<div class="container">
	<div class="well">
		<br \><br \><br \>
		<p><h2>Users</h2></p>
		<p class="lead">Click on a name to send that user a message!</p>

	</div>
<%= link_to @user.name, new_message_path(:user => @user.id) %>


</div>
