<% provide(:name, @meet.name) %>
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<div class="show-meet">
			<div class="meet-heading">
				<h4><%= @meet.name.capitalize %></h4>
			</div>
			<div class="meet-content">
				<p><%= @meet.description %></p>
				<ul>
					<li>
					</li>
					<li>
					</li>
				</ul>
			</div>
		</div>
	</div>
