<h1>Dashboard</h1>


<div class="front">
  <%= link_to root_path, class: 'pic-link' do %>
    <%= image_tag @current_user.avatar_file_name.url(:medium) %>
  <% end %>
</div>


<p>
  map, spot/swell info, previous seshes, and other goodies are gonna go here </ br>
  once MagicSeaWeed sends me an API key
</p>


<p>
  <li><%= link_to 'List Users?', users_path %></li>
</p>
