<h1>Dashboard</h1>

<p>
  map, spot/swell info, previous seshes, and other goodies are gonna go here </ br>
  once MagicSeaWeed sends me an API key
</p>
<p>
  <li><%= link_to 'List Users?', users_path %></li>

</p>
